.card{
    background: rgb(60, 57, 57);
    position: relative;
    color:white;
    left: 25%;
    top: -10rem;
    width: 50%;
    height: 37%;
    display: flex;
    flex-direction: column;
    padding: 3% ;
    border-radius: 15px;
    text-align: center;
    gap: 4px;
    box-shadow: 2px 4px  8px rgb(72, 70, 70);
}
.para{
    font-size:0.9rem;
}


